@import 'common';

.summary {
    text-align: center;
    width: 100%;
    padding: 0;
    border-spacing: 0;
}
.title {
    margin-top: 30px;
    padding: 10px 10px 10px 0;
    text-align: left;
    color: white;
}
.total {
    text-align: center;
    background-color: $almost-transparent;
    font-size: xx-large;
    padding: 25px;
}
.count {
    padding: 5px;
    text-align: right;
    color: $light-blue;
    font-size: small;
}
.transactions {
    font-size: small;
    line-height: 1.5rem;
    min-width: 280px;
    padding-top: 30px;
}
.transactions-title {
    margin-top: 30px;
    text-align: left;
    color: white;
    font-size: initial;
    padding-bottom: 10px;
}
.transaction {
    background-color: $almost-transparent;
    color: rgba(255, 255, 255, 0.5);
}
.transactions .transaction td {
    padding: 0 10px 0 10px;
    line-height: 2rem;
}
.date {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.amount {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
